---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}"></a>
      </div>
      <div class="author-name">{{site.author}}</div>
      <p>{{site.about-author}}</p>
    </div>
  </header> <!-- End Header -->
<footer>
<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=220 height=52 src="//music.163.com/outchain/player?type=2&id=22707008&auto=0&height=32"></iframe>
<!-- 一言https://hitokoto.cn/ -->
<h4>一言：</h4>
<p id="hitokoto">正在请求数据,刷新试试呀。</p>
<script src="https://v1.hitokoto.cn/?encode=js&select=%23hitokoto" defer></script>

 <section class="contact">
      <h3 class="contact-title">Contact me</h3>
      <ul>
          <li><a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=Hm9od217XnhxZnN-d3IwfXFz" target="_blank"><i class="fa fa-envelope-square" aria-hidden="true"></i></a></li>
          <li><a href="https://m.weibo.cn/u/3945581944" target="_blank"><i class="fa fa-weibo" aria-hidden="true"></i></a></li>
          <li ><a href="https://github.com/Qvistary" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
      </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>
